/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>



/*****************************************************************************/
                            /* Home Row Mods */
/*****************************************************************************/

/* Left hand key positions for use with right hand mods */
#define LEFT_HAND_KEYS \
    /*    ┌────┬────┬────┬────┬────┐                                       */ \
            0    1    2    3    4     5                                       \
    /*    ├────┼────┼────┼────┼────┼────┐                                  */ \
            12   13   14   15   16   17                                      \
    /*    ├────┼────┼────┼────┼────┼────┤                                  */ \
            24   25   26   27   28   29                                       \
    /*    ├────┼────┼────┼────┼────┼────┤                                  */ \
  

/* Right hand key positions for use with left hand mods */
#define RIGHT_HAND_KEYS \
    /*                                          ┌────┬────┬────┬────┬────┐ */ \
                                             6     7    8    9   10   11      \
    /*                                     ┌────┼────┼────┼────┼────┼────┤ */ \
                                             18   19   20   21   22   23      \
    /*                                     ├────┼────┼────┼────┼────┼────┤ */ \
                                             30   31   32   33   34   35      \
    /*                                     ├────┼────┼────┼────┼────┼────┤ */ \
    

/* Thumb key positions for use with mods on both hands */
#define THUMB_KEYS \
    /*                 ┌────┬────┬────┐      ┌────┬────┬────┐              */ \
                         36   37   38          39   40   41                   \
    /*                 ├────┼────┼────┤      ├────┼────┼────┤              */ \


/ {

 behaviors {
    questionstrophe: questionstrophe {
        compatible = "zmk,behavior-mod-morph";
        label = "QUESTIONSTROPHE";
        #binding-cells = <0>;
        bindings = <&kp O>, <&question_end_sentence>;
        mods = <(MOD_LSFT)>;
        keep-mods = <(MOD_LSFT)>;
    };
    excumflex: excumflex {
        compatible = "zmk,behavior-mod-morph";
        label = "EXCUMFLEX";
        #binding-cells = <0>;
        bindings = <&kp SQT>, <&excl_end_sentence>;
        mods = <(MOD_LSFT)>;
    };
    dotone: dot_one {
        compatible = "zmk,behavior-mod-morph";
        label = "DOT_ONE";
        #binding-cells = <0>;
        bindings = <&dot_end_sentence>, <&dottwo>;
        mods = <(MOD_LSFT|MOD_RALT)>;
     };
    dottwo: dot_two {
        compatible = "zmk,behavior-mod-morph";
        label = "DOT_TWO";
        #binding-cells = <0>;
        bindings = <&kp RA(V)>, <&ellips>;
        mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label = "OPTIMOT";
           
            // -----------------------------------------------------------------------------------------
            // |  TAB |  à  |  J  |  O  |  é  |  B  |   |  F  |  D  |  L  |  ’  |  Q  | BKSP |
            // | CTRL |  A  |  I  |  E  |  U  |  ,  |   |  P  |  T  |  S  |  R  |  N  |  !   |
            // | SHFT |     |  Y  |  è  |  .  |  k  |   |  G  |  C  |  M  |  H  |  V  |  Z   |
            // 
            
            bindings = <
&kp TAB     &kp N0  &kp J  &kp O    &kp N2     &kp B        &kp F   &kp D          &kp L       &questionstrophe  &kp R  &kp Q
&kp LCTRL   &kp A   &kp I  &kp E    &kp U      &trans       &kp P   &kp T          &kp S       &kp R             &kp N  &excumflex
&kp LSHFT   &kp Y   &kp Y  &dotone  &dotone    &kp K        &kp G   &kp C          &kp COMMA   &kp H             &kp V  &kp Z
                       &kp CAPS &kp E  &kp E  &kp SPACE  &kp BSPC &kp ENTER
            >;
        };

    };
};
