/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <keymap_frenchs.h>

#define DEFAULT 0
#define SENTENCE_CASE 1
#define SENTENCE_ALT 2
#define END_SENTENCE 3
#define NUMPAD 4
#define NUMROW 5



/*****************************************************************************/
                            /* Home Row Mods */
/*****************************************************************************/

/* Left hand key positions for use with right hand mods */
#define LEFT_HAND_KEYS \
    /*    ┌────┬────┬────┬────┬────┐                                       */ \
            0    1    2    3    4     5                                       \
    /*    ├────┼────┼────┼────┼────┼────┐                                  */ \
            12   13   14   15   16   17                                      \
    /*    ├────┼────┼────┼────┼────┼────┤                                  */ \
            24   25   26   27   28   29                                       \
    /*    ├────┼────┼────┼────┼────┼────┤                                  */ \
  

/* Right hand key positions for use with left hand mods */
#define RIGHT_HAND_KEYS \
    /*                                          ┌────┬────┬────┬────┬────┐ */ \
                                             6     7    8    9   10   11      \
    /*                                     ┌────┼────┼────┼────┼────┼────┤ */ \
                                             18   19   20   21   22   23      \
    /*                                     ├────┼────┼────┼────┼────┼────┤ */ \
                                             30   31   32   33   34   35      \
    /*                                     ├────┼────┼────┼────┼────┼────┤ */ \
    

/* Thumb key positions for use with mods on both hands */
#define THUMB_KEYS \
    /*                 ┌────┬────┬────┐      ┌────┬────┬────┐              */ \
                         36   37   38          39   40   41                   \
    /*                 ├────┼────┼────┤      ├────┼────┼────┤              */ \


/ {

 behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        lh_hm: left_hand_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HAND_HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <RIGHT_HAND_KEYS THUMB_KEYS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };  
        rh_hm: right_hand_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HAND_HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <150>;
            global-quick-tap;
            flavor = "balanced";
            hold-trigger-key-positions = <LEFT_HAND_KEYS THUMB_KEYS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
            
        };
        sl_sentence_case: sl_sentence_case {
            compatible = "zmk,behavior-sticky-key";
            label = "SL_SENTENCE_CASE";
            #binding-cells = <1>; 
            release-after-ms = <60000>;  /* Release if no key is pressed */ 
            bindings = <&mo>; 
            quick-release;  /* Release as soon as another key is pressed */ 
            /delete-property/ ignore-modifiers;  /* Mods release Sticky Layer */ 
        };
        excumflex: excumflex {
            compatible = "zmk,behavior-mod-morph";
            label = "EXCUMFLEX";
            #binding-cells = <0>;
            bindings = <&kp FR_CIRC>, <&excl_end_sentence>;
            mods = <(MOD_LSFT)>;
        };
        questionstrophe: questionstrophe {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTIONSTROPHE";
            #binding-cells = <0>;
            bindings = <&kp FR_QUOT>, <&question_end_sentence>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };
        dotone: dot_one {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_ONE";
            #binding-cells = <0>;
            bindings = <&dot_end_sentence>, <&dottwo>;
            mods = <(MOD_LSFT|MOD_RALT)>;
        };
        dottwo: dot_two {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_TWO";
            #binding-cells = <0>;
            bindings = <&kp RA(V)>, <&ellips>;
            mods = <(MOD_LSFT)>;
        };
        ellips: ellips {
            compatible = "zmk,behavior-mod-morph";
            label = "ELLIPS";
            #binding-cells = <0>;
            bindings = <&kp LS(V)>, <&ellips_end_sentence>;
            mods = <(MOD_RALT)>;
        };
        ralt_case: ralt_case {
            compatible = "zmk,behavior-hold-tap";
            label = "RALT_CASE";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <200>;
            bindings = <&ralt_sentence_case_hold>, <&ralt_sentence_case>;
        };  
    };

    macros {
        dot_end_sentence: dot_end_sentence {
            label = "dot_end_sentence";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &kp V>,
            <&macro_pause_for_release>,
            <&macro_release &kp V>,
            <&macro_tap &sl_sentence_case END_SENTENCE>;
        };
        question_end_sentence: question_end_sentence {
            label = "question_end_sentence";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &kp LS(O)>,
            <&macro_pause_for_release>,
            <&macro_release &kp LS(O)>,
            <&macro_tap &sl_sentence_case END_SENTENCE>;
        };
        excl_end_sentence: excl_end_sentence {
            label = "excl_end_sentence";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &kp LS(SQT)>,
            <&macro_pause_for_release>,
            <&macro_release &kp LS(SQT)>,
            <&macro_tap &sl_sentence_case END_SENTENCE>;
        };
        ellips_end_sentence: ellips_end_sentence {
            label = "ellips_end_sentence";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &kp LS(RA(V))>,
            <&macro_pause_for_release>,
            <&macro_release &kp LS(RA(V))>,
            <&macro_tap &sl_sentence_case END_SENTENCE>;
        };
        space_sentence_case: space_sentence_case {
            label = "space_sentence_case";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp SPACE>,
            <&macro_tap &sl_sentence_case SENTENCE_CASE>;
        };
        enter_sentence_case: enter_sentence_case {
            label = "enter_sentence_case";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &kp ENTER>,
            <&macro_pause_for_release>,
            <&macro_release &kp ENTER>,
            <&macro_tap &sl_sentence_case SENTENCE_CASE>;
        };
        ralt_sentence_case: ralt_sentence_case {
            label = "ralt_sentence_case";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &sl_sentence_case SENTENCE_ALT>;
        };
        ralt_sentence_case_hold: ralt_sentence_case_hold {
            label = "ralt_sentence_case_hold";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &kp RALT>,
            <&macro_tap &sl_sentence_case SENTENCE_CASE>,
            <&macro_pause_for_release>,
            <&macro_release &kp RALT>;
        };

    };
    combos { 
        compatible = "zmk,combos";

        combo_cut { // ZY
            timeout-ms = <50>;
            key-positions = <25 26>;
            bindings = <&kp LS(DELETE)>;
        };

        combo_copy { // YÈ
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp LC(INSERT)>;
        };

        combo_paste { // È‧
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp LS(INSERT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label = "OPTIMOT";
           
            // -----------------------------------------------------------------------------------------
            // |  TAB |  à  |  J  |  O  |  é  |  B  |   |  F  |  D  |  L  |  ’? |  Q  |  X   |
            // | CTRL |  A  |  I  |  E  |  U  |  ,; |   |  P  |  T  |  S  |  R  |  N  |  ^!  |
            // | SHFT |     |  Y  |  è  |  .: |  K  |   |  G/W  |  C/ç  |  M  |  H  |  V  |  Z   |
            //                  | CAPS| PAD | SPC |   | NUMRO | BKSP | ENTER |
           
            
            bindings = <
&kp TAB     &kp FR_AGRV    &kp J  &kp O        &kp FR_EACU     &kp B        &kp F       &kp D          &kp L       &questionstrophe  &kp FR_Q &kp X
&kp LCTRL   &kp FR_A       &kp I  &kp E        &kp U           &kp FR_COMM  &kp P       &kp T          &kp S       &kp R             &kp N    &excumflex
&kp LSHFT   &trans         &kp Y  &kp FR_EGRV  &dotone         &kp K        &ht G FR_W  &ht C FR_CCED  &kp COMMA   &kp H             &kp V    &kp FR_Z
                       &kp CAPS &mo NUMPAD &kp SPACE    &mo NUMROW &ht DEL BSPC &kp ENTER
            >;
        };

                        SentenceCase {
        label = "SENTENCE_CASE";
         bindings = <
  &trans &kp LS(Q) &kp LS(W) &kp LS(E) &kp LS(R) &kp LS(T)   &kp LS(Y) &kp LS(U) &kp LS(I) &trans &kp LS(P) &kp LS(LBKT)
  &kp LS(NUBS) &kp LS(A) &kp LS(S) &kp LS(D) &kp LS(F) &trans  &kp LS(H) &kp LS(J) &kp LS(K) &kp LS(L) &kp LS(SEMI) &trans
  &trans &kp LS(Z) &kp LS(X) &kp LS(C) &trans &kp LS(B)   &ht LS(RBKT) LS(N) &ht LS(RA(NUBS)) LS(M) &kp LS(COMMA) &kp LS(DOT) &kp LS(FSLH) &kp LS(BSLH)
            &ralt_case &trans &trans         &kp K_CANCEL &trans &enter_sentence_case
                       >;
    };
    
                SentenceALT {
        label = "SENTENCE_ALT";
         bindings = <
  &trans &kp LS(RA(Q)) &kp LS(W) &kp LS(RA(E)) &kp LS(R) &kp LS(T)   &kp LS(Y) &kp LS(U) &kp LS(I) &trans &kp LS(P) &kp LS(LBKT)
  &kp LS(RA(NUBS)) &kp LS(RA(A)) &kp LS(S) &kp LS(D) &kp LS(F) &trans  &kp LS(H) &kp LS(J) &kp LS(K) &kp LS(L) &kp LS(SEMI) &trans
  &trans &kp LS(Z) &kp LS(X) &kp LS(C) &trans &kp LS(B)   &ht LS(RBKT) LS(N) &ht LS(RA(NUBS)) LS(M) &kp LS(COMMA) &kp LS(DOT) &kp LS(FSLH) &kp LS(BSLH)
            &trans &trans &trans         &kp K_CANCEL &trans &trans 
                       >;
    };
    
                EndSentence {
        label = "END_SENTENCE";
         bindings = <
  &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
  &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
  &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
            &trans &trans &trans         &space_sentence_case &trans &enter_sentence_case
                       >;
    };
                
                numpad_layer {
                        label = "NUMPAD";
// -----------------------------------------------------------------------------------------
//    | ESC | PUP | HOME|  ↑  | END |   B   |   |  =  |  7   |  8  |  9  |  0  |  (  |
//    |  Ê  | PDN |  ←  |  ↓  |  →  |   ,   |   |  *  |  4   |  5  |  6  |  /  |  )  |
//    | TAB | WIN | CUT | CPY | PST | PSCRN |   |  +  |  1   |  2  |  3  |  -  |  .  |
//                        | CAPS| PAD | ROW |   | SPC | BKSP | ENTER |
                        bindings = < 
   &trans  &kp PG_UP &kp HOME  &kp UP       &kp END   &trans       &kp KP_EQUAL    &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_N0    &kp N4
   &trans &kp PG_DN &kp LEFT  &kp DOWN     &kp RIGHT &trans   &kp KP_ASTERISK &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_SLASH  &kp N7
   &trans &kp LWIN  &kp LS(DEL) &kp LC(INSERT) &kp LS(INSERT) &kp PSCRN     &kp KP_PLUS    &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_MINUS &kp KP_DOT
                                         &trans &trans &trans    &trans &trans &trans
                        >;
                };

                chars_layer {
                        label = "NUMROW";
// -----------------------------------------------------------------------------------------
//                 |  F1  |  F2 |  F3 |  F4 |  F5 |  F6 |   |  F7 |  F8 |  F9 | F10 | F11 | F12 |
//                 |  $   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |  =  |
//                 | PREV| NEXT| PLAY | VUP | VDWN| MUTE|   |BTCLR| BT 1| BT 2| BT 3| BT 4|  %  |
//                                    |CAPS | PAD | ROW |   | SPC | BKSP | ENTER |
                        bindings = <
   &kp F1    &kp F2 &kp F3     &kp F4     &kp F5   &kp F6    &kp F7 &kp F8        &kp F9        &kp F10   &kp F11 &kp F12
   &kp GRAVE &lh_hm LALT N1 &lh_hm LCTRL N2     &lh_hm RALT N3    &lh_hm LSHFT N4   &kp N5    &kp N6 &rh_hm LSHFT N7        &rh_hm RALT N8        &rh_hm LCTRL N9    &rh_hm LALT N0  &kp MINUS
   &kp C_PREV &kp C_NEXT &kp C_PP &kp C_VOL_UP  &kp C_VOL_DN  &kp C_MUTE  &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3   &kp EQUAL
                                     &trans &trans &trans    &trans &trans &trans
         >;
                };


    };
};
